<!DOCTYPE html>
<html ng-app="Redact">
<head>
  <meta charset="UTF-8">
  <title>Textile</title>
  <link rel='stylesheet' href='stylesheets/angular-material.css'>
  <link rel="stylesheet" href="stylesheets/medium-editor.min.css">
  <link rel='stylesheet' href='stylesheets/font-awesome.css'>
  <link rel='stylesheet' href='stylesheets/redact.css'>
</head>
<body>
  <div class="splash">
      <div id="loading-text"><img src="graph/textile_logo_app.png" style="width:50px; height:50px;"></div>
      <div id="loading-content"></div>
  </div>  
    <div ng-controller="AppCtrl" class="sample tabsdemoDynamicTabs"  ng-cloak="">
    <div st-blurred-dialog-region layout="row" layout-fill>
      <md-sidenav class="md-sidenav-left md-whiteframe-z2 appsidenav" role="sidenav" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" layour="row" style="overflow:hidden;" flex-sm>
    <md-toolbar class="md-tall md-hue-2 sidenavc" layout-align="end end">
      <div class="md-toolbar-tools" layout style="padding:10px">
        <div layout="column" style="color: #484848;" layout-padding>
          <span class="md-body-2" style="padding:0;">{{ArrayTextile.author}}</span>
          <span class="md-caption" style="padding:0;">{{ArrayTextile.email}}</span>
        </div>
        <span flex></span>
         <md-menu md-position-mode="target-right target" style="margin:0 !important;">
                                  <md-button aria-label="Languages" ng-click="$mdOpenMenu($event)" class="md-icon-button" style="margin:0;">
                                               <ng-md-icon md-menu-origin icon="translate" style="width: 24px; height: 24px;"></ng-md-icon>
                                   </md-button>
                            <md-menu-content width="4">
                              <md-menu-item ng-click="changeLanguage('es')">
                                <md-button ng-click="ctrl.announceClick($index)" aria-label="ES">
                                    <div layout="row" flex>
                                      <p flex>{{ 'LANGUAGE_ES' | translate }}</p>
                                      <ng-md-icon md-menu-align-target icon="check" style="width: 24px; height: 24px;" ng-show="ArrayTextile.lang == 'es'"></ng-md-icon>
                              
                                    </div>
                                </md-button>
                              </md-menu-item>
                              <md-menu-item>
                                <md-button ng-click="changeLanguage('en')" aria-label="EN">
                                    <div layout="row" flex>
                                      <p flex>{{ 'LANGUAGE_EN' | translate }}</p>
                                      <ng-md-icon md-menu-align-target icon="check" style="width: 24px; height: 24px;" ng-show="ArrayTextile.lang == 'en'"></ng-md-icon>
                                
                                    </div>
                                </md-button>
                              </md-menu-item>
                            </md-menu-content>
                          </md-menu>
        <md-button class="md-icon-button" aria-label="Preferencias" ng-click="configuretextile()">
              
            <ng-md-icon icon="settings"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <perfect-scrollbar class="scroll-wrapper" opts="scrollopts">
    <md-content role="navigation">
  
      <md-list class="appsidenav" >
     <!-- loadchaps(project._id) -->
        <md-list-item ng-click="loadchaps('default')" ng-class="{ active: isSet('default') }">
          <p class="md-subheader md-primary">{{ 'FILES' | translate }}</p>
          <span flex></span>
          <ng-md-icon icon="chevron_right" style="margin-right:0 !important;"></ng-md-icon>
        </md-list-item>
        </md-list>

      <md-list ng-repeat="project in projects" md-selected="selectedIndex" class="appsidenav">
     <!-- loadchaps(project._id) -->
        <md-list-item ng-click=" loadchaps(project._id);" ng-class="{ active: isSet(project._id) }">
         <ng-md-icon icon="loyalty" style="fill: #1f1f1f"></ng-md-icon>
          <p class="md-subheader md-primary" ng-class="{ active: isSet(project._id) }">{{project.title}}</p>
          <span flex></span>
          <ng-md-icon icon="{{isSet(project._id) ? 'fingerprint' : 'arrow_drop_down'}}"  style="margin-right:0px !important;"></ng-md-icon>
        </md-list-item>

        <md-list-item ng-show="isSet(project._id)" ng-click="settingsproj(project)" id="expanditem">
           <ng-md-icon icon="filter_tilt_shift"></ng-md-icon>
          <p class="md-body-2">{{ 'SETTINGS' | translate }}</p>
        </md-list-item>

      </md-list>

    </md-content>
    </perfect-scrollbar>

    <div class="wannawrite">
     <md-button ng-click="newProject()" class="md-raised newprojectbutton" style="width:95%">
           <ng-md-icon icon="group_work"></ng-md-icon> {{ 'NEW_PROJECT' | translate }}
          </md-button>
          </div>
  </md-sidenav>
  <section layout="column" role="main" flex>
        <md-content style="overflow: hidden !important;">
        
    
          <md-button ui-sref="courses" class="addchapter add-tab md-icon-button" ng-click="addTab()" aria-label="Añadir">
                    <ng-md-icon icon="my_library_add" style="color:rgba(255,255,255,.8);"></ng-md-icon> 
                </md-button>
                 <md-button ui-sref="courses" class="addchapter add-tab md-icon-button" ng-click="toggleSidenav('left')" style="left:0;" aria-label="Navegación">
                    <ng-md-icon icon="menu" style="color: rgba(255,255,255,.8);"></ng-md-icon> 
                </md-button>
                <div id="setfirsttoolbar"> </div>

                 <div id="cuatrocuatro" class="fade" ng-show="tabs.length <= 0">
                  <div class="cuatroarbol">
                  <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="main">
                      <h1><ng-md-icon icon="now_widgets" size="40"></ng-md-icon></h1>
                      <p>{{ 'TREE_EMPTY' | translate }}<br>{{'HOW_ABOUT_CREATE_ONE' | translate }}</p>
                      <md-button class="md-primary md-raised" ng-click="addTab()">{{ 'NEW' | translate }}</md-button>
                     </div>
                     </div>
                  </div>
          <md-tabs class="apptabs100 tabshorz" md-selected="selectedIndex" md-autoselect="" md-border-bottom="" md-autoselect="" style="height:100vh;">
          

            <md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled" label="{{tab.title}}" ng-click="setID(tab._id)">
            
            <perfect-scrollbar class="scroll-wrapper" opts="scrollopts" style="height:calc(100vh - 48px);">
             <md-toolbar class="toolbarwork" style="position:fixed;">
              <!-- The actual toolbar item container. top-z now has to be applied to all affordances -->
              <div class="md-toolbar-tools" style="padding:0px 1px 0 5px;">
              <span editbutton></span>
                 <h2 editfield="tab.title" editor-enabled="editorEnabled">{{ tab.title }}</h2>
                <span flex></span>

          
                      <!--  <md-button ng-click="Math(tab)" class="whitewhite nopadding" aria-label="Math">
                             <ng-md-icon icon="functions" style="width: 24px; height: 24px;"></ng-md-icon>
                          </md-button> -->
                          <md-button ng-click="removeTab(tab)" ng-disabled="tabs.length <= 1" class="whitewhite nopadding whitewhite" aria-label="Eliminar">
                             <ng-md-icon icon="delete" style="width: 24px; height: 24px;"></ng-md-icon>
                          </md-button>

                          <md-menu md-position-mode="target-right target">
                                  <md-button aria-label="Exportar artículo" ng-click="$mdOpenMenu($event)" class=" nopadding whitewhite" style="margin-right:18px;">
                                               <ng-md-icon md-menu-origin icon="archive" style="width: 24px; height: 24px;"></ng-md-icon>
                                   </md-button>
                            <md-menu-content width="4">
                              <!--<md-menu-item ng-click="PDF_Single()">
                                <md-button ng-click="ctrl.announceClick($index)" aria-label="PDF">
                                    <div layout="row" flex>
                                      <p flex>{{ 'ARTICLE_AS_PDF' | translate }}</p>
                                      <ng-md-icon md-menu-align-target icon="picture_as_pdf" style="width: 24px; height: 24px;"></ng-md-icon>
                              
                                    </div>
                                </md-button>
                              </md-menu-item>
                              <md-menu-item>
                                <md-button ng-click="EPUB_Single()" aria-label="EPUB">
                                    <div layout="row" flex>
                                      <p flex>{{ 'ARTICLE_AS_EPUB' | translate }}</p>
                                      <ng-md-icon md-menu-align-target icon="view_carousel" style="width: 24px; height: 24px;"></ng-md-icon>
                                
                                    </div>
                                </md-button>
                              </md-menu-item>
                              -->
                              <md-menu-item>
                                <md-button ng-click="TXT_Single()" aria-label="txt">
                                    <div layout="row" flex>
                                      <p flex>{{ 'ARTICLE_AS_TXT' | translate }}</p>
                                      <ng-md-icon md-menu-align-target icon="text_format" style="width: 24px; height: 24px;"></ng-md-icon>
                          
                                    </div>
                                </md-button>
                              </md-menu-item>
                              <md-menu-item>
                                <md-button ng-click="HTML_Single()" aria-label="html">
                                    <div layout="row" flex>
                                      <p flex>{{ 'ARTICLE_AS_HTML' | translate }}</p>
                                      <ng-md-icon md-menu-align-target icon="web" style="width: 24px; height: 24px;"></ng-md-icon>
                                
                                    </div>
                                </md-button>
                              </md-menu-item>
                            </md-menu-content>
                          </md-menu>
                   </div>
            </md-toolbar>
              <div class="demo-tab tab{{tab%4}}" style="padding: 25px;">
              <div id="paddingeditor typewriter">
              <div medium-editor id="{{tab._id}}" ng-model="tab.content" ng-model-options="{ debounce: 2000 }" save="saveData(tab._id)" class="medium-editor paper" tabindex="0" ng-keydown="typeWriter($event);" >
                
     </div>         </div>

              </div>
                </perfect-scrollbar>

            </md-tab>
         
          </md-tabs>

          <div id="projectactual" style="display:none;"></div>
          <!--  <div class="lock-size" layout="row" layout-align="center center">
  <md-fab-speed-dial md-open="false" md-direction="up"
                     class="md-fling fabspeeddial">
    <md-fab-trigger >
      <md-button class="md-fab md-default" aria-label="Opciones">
         <ng-md-icon icon="blur_circular" style="width: 24px; height: 24px;" ></ng-md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button class="md-fab md-raised md-mini" aria-label="PDF">
        <ng-md-icon icon="sync" style="width: 24px; height: 24px;" ></ng-md-icon>
      </md-button>

    </md-fab-actions>
  </md-fab-speed-dial>
</div>
     -->   </md-content>
       
        </section>
        </div>
    </div> 
<st-blurred-dialog-overlay></st-blurred-dialog-overlay>

</body>
 <script type="text/javascript">
    const remote = require('electron').remote;
    const {BrowserWindow} = remote;
    const appt = remote.app;
    const dialog = remote.dialog;
    const fs = require('fs');
    window.$ = window.jQuery = require('./express/jquery.js');
    require('./express/lodash.js');
    require('./express/angular.js');
        require('./express/angular-pouch.js');
    require('angular-perfect-scrollbar-2');

    require('./express/angular-animate.min.js');
    require('./express/angular-aria.min.js');
    require('./express/angular-messages.min.js');
    require('./express/angular-material.js');
    require('./express/angular-material-icons.min.js');
    require('./express/angular-translate.min.js');
    const MediumEditor = require('medium-editor');
    const export_txt = require('html-to-text');
   /* const MathJaxx = require('mathjax-electron');
   const debugMenu = require('debug-menu');
debugMenu.install(); */
  </script>

  <script src="express/pouchdb.min.js"></script> 
  <script src="express/pouchdb.find.js"></script><script>
  
    

    require('./express/funciones.js');
    require('./express/redact.min.js');
</script>
</html>
